sdcamp.*.pdf
sdcamp.*.mobi
sdcamp.*.epub
sdcamp.*.html
sdcamp.*.markdown
sdcamp-*.epub
*.pdf
!ebooks/cover.pdf
*.swp
latex/*
!latex/makepdf
!latex/README
!latex/template.tex
!latex/config.yml
epub/temp
*~
.#*
*.epub
